html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video
    {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    background-color: #eaeaea;
}

article,aside,dialog,figure,footer,header,hgroup,nav,section {
    display: block;
}

@sprite header {
    background-color: #3eb0c7;
    gwt-image: "logo";
    padding: 0px 20px;
    width: auto;
}

header h1 {
    padding-top: 5px;
    padding-left: 50px;
    border-bottom: none;
}

h1 {
    font-size: 133%;
    font-style: italic;
    text-transform: capitalize;
    margin: 10px 10px 0px 10px;
    border-bottom: 1px solid #dedede;
}

p {
    margin: 10px;
    line-height: 1.2em;
}

h1,h2,p,input,td,div {
    color: #3d3d3d;
}

ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,input,select {
    vertical-align: middle;
    margin: 0;
}

nav {
    margin: 50px 30px 20px 0px;
    border: 1px solid #93CB2B;
}

nav a {
    font-size: 12px;
    color: #93CB2B;
    background-color: #e9ffbf;
    display: block;
    line-height: 20px;
    text-transform: capitalize;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid #c4e96e;
}

nav a:hover,.selected {
    color: white;
    background-color: #93CB2B;
}

footer {
    font-size: 10px;
    letter-spacing: 0.1em;
    color: #62635e;
    line-height: 20px;
    padding: 0px 5px;
    padding: 0px 20px;
}

footer a,footer a:visited {
    color: #62635e;
}

footer a:hover {
    color: #3d3d3d;
}