body {
    background-color: #ddd;
    color: #222;
    font-family: Helvetica;
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

@sprite header>h1 {
    border-bottom: 1px solid #666;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: bold;
    gwt-image: "header";
    height: auto;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    width: 100% white-space:  nowrap;
}

.hidden {
    display: none;
}

.visible {
    display: inline;
}